<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 与接口的全类名对应,包名+类名 -->
<mapper namespace="com.baizhi.dao.AdminDao">
    <select id="queryByUsername" resultType="com.baizhi.entity.Admin">
        select * from admin
        where username=#{username} and password=#{password}
    </select>
    <update id="update" parameterType="com.baizhi.entity.Admin">
        update admin set password=#{password} where username=#{username};
    </update>
</mapper>
